{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Kirish{% endblock %}
{% block content %}
<div class="col-4 mx-auto bg-white rounded p-4 my-form">
   <h1 class="text-center">Kirish</h1>
   <form method="post">
       {% csrf_token %}
       {{ form|crispy }}
       <div class="text-center">
        <button class="btn btn-secondary" type="submit">Kirish</button>
       <p class="text-secondary my-3">Akkount yo‘qmi?<a class="text-dark" href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>
       </div>
   </form>
</div>
{% endblock %}
