{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Ro'yxatdan o'tish{% endblock %}
{% block content %}
<div class="col-4 mx-auto bg-white rounded p-4 my-form">
   <h1 class="text-center">Ro'yxatdan o'tish</h1>
   <form method="post">
       {% csrf_token %}
       {{ form|crispy }}
       <div class="text-center">
        <button class="btn btn-secondary" type="submit">Saqlash</button>
       <p class="text-secondary my-3">Akkount bormi?<a class="text-dark" href="{% url 'login' %}">Kirish</a></p>
       </div>
   </form>
</div>
{% endblock %}
