{% extends 'base.html' %}
{% block title %} Home Page {% endblock title %} 
{%block content %}
<h1>Home Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nostrum magnam
  sed, quidem magni laborum dolore praesentium enim numquam deleniti consectetur
  reprehenderit delectus fuga beatae tempore amet voluptate ea natus repellat
  maiores pariatur. Hic quibusdam consequuntur nostrum ipsum ut iure
  reprehenderit? Corporis illum facere nesciunt, ea nostrum cumque minus ut nemo
  est iure. Modi ipsa non fugit, optio error et minima veritatis dolor animi.
  Iste eveniet unde illum ipsam, eos suscipit sequi dolores, vitae dolore
  laborum molestiae. Deserunt voluptate dolor exercitationem perspiciatis
  nesciunt quasi! Dolor, magni explicabo! Libero repellendus, culpa explicabo
  dignissimos, provident, adipisci consectetur repellat cupiditate numquam id
  officia necessitatibus vel eligendi. Eos quos odit sit nobis blanditiis
  repellat consequatur reiciendis voluptatem ab saepe, incidunt nam corrupti
  similique totam magnam cum? Ex deleniti ratione consequuntur voluptas possimus
  repudiandae placeat! Explicabo molestias velit architecto libero a alias vero
  consequuntur doloribus doloremque laborum unde, maxime nobis cupiditate
  possimus nulla numquam minima. Dolores possimus distinctio non veniam
  dignissimos quod ipsa, expedita doloremque corrupti voluptas omnis atque
  quidem! Officia dolores nulla nostrum doloremque cum aliquam? Suscipit
  voluptate amet beatae sint. Maxime, doloribus culpa. Dolore, ut incidunt.
  Neque atque quis error incidunt laudantium impedit ex voluptas illo
  necessitatibus, tempore molestias accusamus saepe similique sequi?
</p>
{% endblock content %}
